@mixin block-style {
  border: 1px solid #858080;
  background-color: #332e2e;
  color: #bdbdbd;
  border-radius: 5px;
  border: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: black;
  width: 100%;
  min-width: 1000px;
  height: 100%;
}

.cases {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  height: 90%;
}

.total {
  @include block-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  &__title {
    font-size: 1.5rem;
    text-align: center;
  }
  &__value {
    color: red;
    font-size: 1.7rem;
    text-align: center;
  }
}

.countries {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 85%;
  @include block-style;
  &__title {
    font-size: 1.3rem;
    text-align: center;
    .sort-form {
      margin-top: 5px;
      font-size: 0.9rem;
      .input {
        display: none;
      }
      .input:checked + .input-label {
        background: rgb(124, 115, 115);
        border-radius: 5px;
        padding: 3px;
      }
    }
  }
  &__list {
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    height: 80%;
    overflow-y: auto;
  }
  .countries__list::-webkit-scrollbar {
    width: 5px;
  }
  .countries__list::-webkit-scrollbar-track {
    background: #161414;
  }
  .countries__list::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 10px;
  }
  .country {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 3px;
    cursor: pointer;
    &__cases_value {
      color: red;
      word-wrap: break-word;
      width: 35%;
      text-align: right;
      font-size: 0.9rem;
    }
    &__name {
      margin-left: 5px;
      text-align: left;
      font-size: 0.9rem;
    }
  }
}

.countries:hover > .expand__button {
  display: flex;
}

.map {
  border: 1px solid #858080;
  position: relative;
  display: flex;
  overflow: auto;
  width: 60%;
  height: 90%;
  border-radius: 5px;
  border: none;
}

.map:hover > .expand__button {
  display: flex;
}

.map::-webkit-scrollbar {
  width: 5px;
}
.map::-webkit-scrollbar-track {
  background: #161414;
}
.map::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 19%;
  height: 90%;
  .statistics {
    @include block-style;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    .statistics__title {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 5px;
    }
    .statisitics__parameter {
      display: flex;
      margin: 4px 0px;
      flex-direction: row;
      border-bottom: 1px solid whitesmoke;
      .statistics-case__value,
      .statistics-death__value,
      .statistic-recover__value {
        color: red;
        padding-left: 5px;
      }
    }
  }
  .statistics:hover > .expand__button {
    display: flex;
  }
}

.units-change__button {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  width: 60%;
  @include block-style;
}

.units-change__button:active,
.units-change__button:focus {
  outline: none;
}

.units-change__button:active {
  transform: scale(1.1);
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 20px;
  border: none;
  height: 30px;
  .serach__input-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    .search__input {
      width: 100%;
      height: 100%;
      font-size: 1.05rem;
      @include block-style;
    }
    .search__input:focus {
      outline: none;
    }
    .search__possible-variants {
      padding: 0;
      margin: 0;
      position: absolute;
      color: whitesmoke;
      top: 30px;
      list-style-type: none;
      width: 70%;
      max-height: 300px;
      overflow-y: auto;
      @include block-style;
      border-top: none;
      cursor: pointer;
      .search__possible-country {
        @include block-style;
        border-top: none;
        width: 100%;
      }
      .search__possible-country:hover {
        background-color: rgb(117, 112, 112);
      }
    }
    .search__possible-variants::-webkit-scrollbar {
      width: 5px;
    }
    .search__possible-variants::-webkit-scrollbar-track {
      background: #161414;
    }
    .search__possible-variants::-webkit-scrollbar-thumb {
      background: whitesmoke;
      border-radius: 10px;
    }
  }
  &__button {
    width: 25%;
    @include block-style;
  }
  &__button:active,
  &__button:focus {
    outline: none;
  }
  &__button:active {
    transform: scale(1.1);
  }
}

.graph {
  height: 150px;
  width: 16%;
  color: whitesmoke;
  @include block-style;
  margin-top: 20px;
}

.show {
  display: flex;
}
